{% extends "./layout/base.html" %}
{% load static %}

{% block content %}

<center>
    <div class="card text-center px-4 m-4" style="max-width: 30rem;" id="create-card">

        <div class="card-body">
            <h2 class="card-title">Login</h2>
            <form action="{% url 'accounts:login' %}" method="post" id="signup_user">
                {% csrf_token %}

                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" name="username" class="form-control" id="username"
                        placeholder="Enter your Username" autofocus required autocapitalize="none">
                    <small id="usernamehelp" class="form-text text-muted">Please put your username </small>
                </div>
                {% for error in status.username %}
                <h6 class="text-danger">{{ error }}</h6>
                {% endfor %}

                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" name="password" class="form-control" id="password" minlength="8" required>
                    <small id="passwordhelp" class="form-text text-muted">Please put your password</small>
                </div>

                {% for error in status.password %}
                <h6 class="text-danger">{{ error }}</h6>
                {% endfor %}
                {% for error in status.non_field_errors %}
                <h6 class="text-danger">{{ error }}</h6>
                {% endfor %}
                <!-- <input type="submit" value="Submit" class="btn-primary"> -->
                <button type="submit" value="Submit" class="btn btn-primary">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-box-arrow-in-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0v-2z" />
                        <path fill-rule="evenodd"
                            d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z" />
                    </svg> Login </button>
            </form>


        </div>
        <!-- <center>
        <div class="spinner-border text-primary my-2" role="status" id="spinner-add" style="display: none;">
            <span class="visually-hidden"></span>
        </div>
    </center> -->

    </div>

</center>
{% endblock content %}